:root{
    --gap:3rem;
    --primary-color: #0A1128;
    --light: #e0e0e0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: var(--primary-color);
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 6rem;
    text-transform: uppercase;
}

h2{
    line-height: 1;
    font-size: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
}

h3{
    font-size: 5rem;
}

h4{
    font-size: 4.5rem;
}
h5{
    font-size: 4rem;
}
h6{
    font-size: 3.5rem;
}
a{
    text-decoration: none;
}

.main-bg{
  background-image: url(../img/confetti-doodles.svg);
  background-size: cover;
  background-position: center;
  color: white;
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}
.white-bg{
    background: white;
    color: #0A1128;
}
.section{
    min-height: 100vh;
}
.menu{
    z-index: 1;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    border-bottom: 0.1rem solid color(rgb(211, 211, 211));
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    padding-top: 0;
}
.menu ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}
.menu h1{
    font-size: 2.3rem;
    color: var(--primary-color);
}
.menu h1 a{
    color: inherit;
}

.menu ul li a{
    display: block;
    height: 3rem;
    font-size: 1.8rem;
    color: var(--primary-color);
}

.menu ul li a:hover {
    background-color: #eceff1 ;
}
.menu-space{
    height: 6.5rem;
}

.intro-content{
    position: relative;
    top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img{
    max-width: 100%;
    height: auto;
}

.top3-content{
    margin: 0 auto;
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.grid-one-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
    margin-left: 2.5rem;
}
.grid-one-content h2{
    margin-top: -10rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.grid article h3{
    color: #0A1128;
    font-size: 3rem;
    position: relative;
}

.gallery-img{
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img{
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover{
    transform: translate(3%,3%) scale(1.2) rotate(5deg);
}

table{
    width: 100%;
    border-collapse: collapse;
}

table td, table th{
    white-space: nowrap;
    text-align: left;
    border: 0.1rem solid var(--light);
}
tfoot td, table th{
    background: var(--light);
}
table caption{
    font-size: 1.6rem;
    font-style: italic;
    text-align: left;
    padding-bottom: 1rem;
}
.responsive-table{
    min-width: 36rem;
    overflow: hidden;
    overflow-x: auto;
}

.contact-form{
    grid-column: span 2;
}
.contact-form .form-grid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}
.form-group{
    flex: 1 1 32rem;
}
.form-group label{
    display: block;
}
.form-group input, textarea{
    border: none;
    background: whitesmoke;
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 3rem;
    font: italic;
}
body .full-width{
    width: 100%;
    flex: 1 1 100%;
}

.form-group button{
    border: 0.5rem solid var(--primary-color);
    background: none;
    color: var(--primary-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    transition: all 300ms ease-in-out;
}

.form-group button:hover{
    border: 0.5rem solid whitesmoke;
    background: whitesmoke;

}

.form-group ::placeholder{
    color: grey;
}
.form-grid legend{
    font-size: 1.6rem;
    font: italic;
    margin-bottom: 3rem;
}
.form-group input:focus, 
.form-group textarea:focus{
    box-shadow: 0px 0px 8px crimson ;
}
.form-group label{
    display: block;
    margin-bottom: 1rem;
} 

.close-menu{
    display: none;
}

@media (max-width: 800px){
    .intro-content, .grid{
        grid-template-columns: 1fr;
    }
    .gallery-img{
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }
    .gallery-img img{
        width: 100%;
    }
    .grid-one-content{
        display: block;
    }
    .menu{
        bottom: 0;
        text-align: center;
    }
    .menu-content, .menu-content ul{
        flex-direction: column;
        justify-content: center;
    }
    .menu-content ul{
        height: 100vh;
    }
    .menu{
        display: none;
    }
    .close-menu{
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
    }
    .close-menu-label::after{
        content: '☰' var(--primary-color);
        z-index: 2;
        right: 2rem;
        top: 1rem;
        position: fixed;
        font-size: 3rem;
        width: 3rem;
        line-height: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem ;
    }
    .close-menu:checked~.menu{
        display:block; 
    }
    .close-menu:checked~.close-menu-label::after{
        content: '×';
    }
    .menu-space{
        display: none;
    }
}